body  {
	background: deepskyblue;
}
 header {
      text-align: center;
      background: url('Imagez');
      background-size: cover;
      color: (223,177,43);
 }
  li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
